.game-container {
  border: 2px solid white;
  padding: 12px;
  min-height: 200px;
  background: rgba(0,0,0,0.9)
}

.reset-icon {
  margin-left: 6px;
  display: inline-block;
  width: 11px;
  position: relative;
  top: -1px;
  cursor: pointer;
}
